@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/*Global*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.hidden {
  visibility: hidden;
  height: 0;
}

/* Util */
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background:#047aed ;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn-outline {
  background-color: transparent;
  border: 1px #fff solid;
}

.btn:hover {
  transform: scale(0.98);
}
/* Backgrounds & colored buttons */
.bg-primary,
.btn-primary {
  background-color:  #047aed;
  color: #fff;
}

.bg-secondary,
.btn-secondary {
  background-color:  #1c3fa8;
  color: #fff;
}

.bg-dark,
.btn-dark {
  background-color: #002240;
  color: #fff;
}

.bg-light,
.btn-light {
  background-color: #f4f4f4;
  color: #333;
}

.bg-primary a,
.btn-primary a,
.bg-secondary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a {
  color: #fff;
}
/* Text colors */
.text-primary {
  color: #047aed;
}

.text-secondary {
  color: #1c3fa8;
}

.text-dark {
  color: #002240;
}

.text-light {
  color: #f4f4f4;
}

/* Text sizes */
.lead {
  font-size: 20px;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}
.text-center {
  text-align: center;
}


/* Margin */
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

/* Padding */
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}



/* Navbar */
.navbar {
  background-color: #047aed;
  color: #fff;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

.navbar .flex {
  justify-content: space-between;
}

/* Showcase */
.showcase {
  height: 400px;
  background-color:  #047aed;
  color: #fff;
  position: relative;
}

.showcase h1 {
  font-size: 40px;
}

.showcase h3 {
  margin: 20px 0;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% auto;
  gap: 30px;
}

.showcase-text {
  animation: slideInFromLeft 1s ease-in;
}

.showcase-form {
  position: relative;
  top: 0px;
  width: 400px;
  padding: 40px;
  
  justify-self: flex-end;
  animation: slideInFromRight 1s ease-in;
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input:focus {
  outline: none;
}


/* Reason */
.reason {
  padding-top: 10px;
  animation: slideInFromBottom 1s ease-in;
}
.reason-heading {
  max-width: 500px;
  margin: auto;
}

.reason .grid h3 {
  font-size: 35px;
}

.reason .grid p {
  font-size: 20px;
  font-weight: bold;
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
/* Ads */
.ads .grid {
  grid-template-columns: 4fr 3fr;

}

/* Map */
.map .grid {
  grid-template-columns: repeat(3, 1fr);
  
}
.map .grid > *:first-child {
  
  grid-column: 1 / span  2;
}



.map-form {
  position: relative;
  justify-self: flex-end;
}

.map-form .form-control {
  margin: 10px 0;
}

.map-form input[type='text'],
.map-form input[type='email'],
.map-form input[type='number'], 
.map-form select{
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.map-form input:focus {
  outline: none;
}

/* Location */
.location-head img,
.aboutus-head img {
  width: 70%;
  justify-self: flex-end;
}

/* About us */


.aboutus-form .form-control {
  margin: 10px 0;
}

.aboutus-form input[type='text'],
.aboutus-form input[type='email'],
.aboutus-form textarea {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.aboutus-form input:focus,
.aboutus-form textarea {
  outline: none;
}


/* Footer */
.footer .social a {
  margin: 0 10px;
}


/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* Tablets and under */
@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .container .grid,
  .map .grid,
  .ads .grid,
  .location-main .grid,
  .aboutus-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 40px;
    animation: slideInFromTop 1s ease-in;
  }

  .showcase-form {
    justify-self: center;
    margin: auto;
    animation: slideInFromBottom 1s ease-in;
  }

  .ads .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }
  
  

  .location-head,
  .aboutus-head{
    text-align: center;
  }

  .location-head img,
  .aboutus-head img {
    width: 50%;
    justify-self: center;
  }
  .aboutus-main .card{
    align-content: center;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .navbar {
    height: 110px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  
}



